@charset "utf-8";


.header {
    height: 100%;
}

.aside {
    max-width: 380px;
    position: fixed;
    top:0;
    z-index: 2;
    height: 100%;
    background-color: var(--basic-white-color);
    padding:70px 65px;
}

.header .MenuBox {
    margin-top:90px;
}

.header .MenuBox ul li a {
    font-size:var(--font-size-18);
    color: var(--basic-dark-color);
    display: block;
    transition: all 0.2s ease-in;
}

.header .MenuBox ul li a:hover {
    color: var(--basic-personal-color) !important;
}

.header .MenuBox ul li {
    margin-bottom: 35px;
}

.header .MenuBox ul li:last-child {
    margin-bottom: 0;
}



.header .headeraccitem dl {
    padding: 30px 15px 0 15px;
}

.header .headeraccitem dl dd {
    margin-bottom: 20px;
}

.header .headeraccitem dl dd:last-child {
    margin-bottom: 0;
}

.header .headeraccitem dl dd a {
    font-size: var(--font-size-15);
    color: #888 !important;
}

.header .accbtn button {
    padding: 0;
    font-size:var(--font-size-18);
    color: var(--basic-dark-color);
}

.header .accbtn button:not(.collapsed) {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.header .accbtn button:focus {
    box-shadow: none !important;
}

.header .accbtn button:after {

}

.header .headeraccitem {
    border:0;
}

.header .headeraccbody {
    padding: 0;
}

.ContentWrap {
    padding-left: 390px;
    width:100%;
}

.header .BookBox a {
    background:none !important;
    border:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
}

.header .BookBox a img {
    width:20px;
    height: 20px;
    position: relative;
    top:-3px;
}

.header .BookBox span {
    font-size:var(--font-size-18);
    color: var(--basic-dark-color);
}

.header .BookBox {
    margin-top:35px;

}

.header .InfoBox img {
    width:20px;
    height: 20px;
}

.header .InfoBox {
    margin-top:70px;
}

.header .InfoBox ul li a span {
    font-size:var(--font-size-16);
    color: var(--basic-thin-color);
}

.header .InfoBox ul li a {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.header .InfoBox ul li {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}


.header .InfoBox ul li:last-child {
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: #141312;
    padding: 25px 0;
}

.footer .leftfooterbox span {
    color: var(--basic-white-color);
    font-size:var(--font-size-13);
}

.footer .leftfooterbox h6 {
    color: var(--basic-white-color);
    font-size:var(--font-size-18);
    margin-top:5px;
    margin-bottom: 0;
}

.footer .leftfooterbox p {
    color: var(--basic-white-color);
    font-size:var(--font-size-18);
    margin-bottom: 25px;
}

.footer .leftfooterbox ul li {
    color: var(--basic-white-color);
    font-size:var(--font-size-13);
    line-height: 22px;
}

.footer .rightfooterbox p {
    color: var(--basic-white-color);
    font-size:var(--font-size-13);
    text-align: right;
}

.Wrap {
    position: relative;
}

@media (max-width:1199px) {
    .ContentWrap {
        padding-left: 0;
    }
    .footer {
        position: unset;
    }
    .mobilelogo img {
        max-width:200px;
    }
    .offbutton {
        background-color: transparent !important;
        border:0 !important;
        box-shadow: none !important;
    }
    .offbutton svg {
        color: #222;
        width:40px;
        height: 40px;
    }
    .mooffcanvas {
        width:90% !important;
    }

    .mooffcanvas .headeraccitem dl {
        padding: 30px 15px 0;
        margin-bottom: 0;
    }

    .mooffcanvas .headeraccitem dl dd {
        margin-bottom: 20px;
    }

    .mooffcanvas .headeraccbody {
        padding: 0;
    }

    .mooffcanvas .headeraccitem dl dd:last-child {
        margin-bottom: 0;
    }

    .mooffcanvas .headeraccitem dl dd a {
        font-size: var(--font-size-15);
        color: #888 !important;
    }

    .mooffcanvas .accbtn button {
        padding: 0;
        font-size:var(--font-size-18);
        color: var(--basic-dark-color);
    }

    .mooffcanvas .accbtn button:not(.collapsed) {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none !important;
    }

    .mooffcanvas .accbtn button:focus {
        box-shadow: none !important;
    }

    .header .accbtn button:after {

    }

    .mooffcanvas .headeraccitem {
        border:0;
    }

    .mooffcanvas .moooffbody {
        padding: 25px;
    }
    .mooffcanvas ul li a {
        font-size:var(--font-size-18);
        color: var(--basic-dark-color);
        display: block;
        transition: all 0.2s ease-in;
    }

    .mooffcanvas ul li a:hover {
        color: var(--basic-personal-color) !important;
    }

    .mooffcanvas ul li {
        margin-bottom: 35px;
    }

    .mooffcanvas ul li:last-child {
        margin-bottom: 0;
    }
    .mooffcanvas .mooffheader {
        border-bottom:solid 1px #ddd;
    }
    .moorebox {
        text-align: center;
        margin-top: 50px;
    }
    .moorebox .rebtn {
        background: var(--basic-personal-color) !important;
        margin-right: 20px;
    }
    .moorebox button {
        border:0 !important;
        padding: 0;
        width:45%;
        height: 50px;
    }
    .moorebox button a {
        color: var(--basic-white-color) !important;
        display: block;
    }
    .moorebox .tellbtn {
        background: #6c6a6d !important;
    }
    .footer .rightfooterbox p {
        text-align: center;
        margin-top:30px;
    }
}

@media (max-width:459px) {
    .mobilelogo img {
        max-width:150px;
    }
}