@charset "utf-8";

.MainSlideBox img {
    width:100%;
}

.MainSlideBox .Slide1 .slide1caption {
    top:5%;
    left: 5%;
    text-align: left;
}

.MainSlideBox .Slide1 .slide1caption h3 {
    font-size:60px;
    letter-spacing: -1px;
    line-height: 65px;
}

.MainSlideBox .Slide1 .slide1caption p {
    font-size:var(--font-size-16);
    margin-top:20px;
}

.MainSlideBox .Slide2 .slide2caption {
    top:47%;
    left: 5%;
    text-align: left;
}

.MainSlideBox .Slide2 .slide2caption h3 {
    font-size:28px;
    letter-spacing: -1px;
    line-height: 38px;
}

.MainSlideBox .Slide2 .slide2caption p {
    margin-top:45px;
}

.MainContentHeader {
    margin-top:125px;
    text-align: center;
    margin-bottom: 55px;
}

.MainContentHeader .smallspan {
    font-size:var(--font-size-16);
    color: #898989;
    display: block;
    margin-bottom: 5px;
}

.MainContentHeader .linespan {
    width:150px;
    height: 1px;
    display: inline-block;
    background: #c6c6c6;
}

.MainContentHeader h3 {
    font-size:68px;
    color: #484649;
    margin-top:15px;
    margin-bottom: 0;
}

.MainContentHeader h3 b {
    color: var(--basic-personal-color);
}

.MainContentHeader p {
    font-size:var(--font-size-16);
    color: #6c6a6d;
}

.MainContentHeader button {
    background-color: transparent !important;
    border:solid 1px var(--basic-personal-color);
    width:145px;
    height: 35px;
    border-radius: 20px;
    padding: 0;

}

.MainContentHeader button img {
    width:5px;
    height: 5px;
    position: relative;
    top:-1px;
}

.MainContentHeader button span {
    font-size: var(--font-size-12);
    color: var(--basic-personal-color);
}

.MainContentHeader button a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.RoomItem {

}

.RoomItem .imgbox img {
    width:98%;
}

.RoomItem .infobox {
    text-align: center;
    margin-top:25px;
}

.RoomItem .infobox h5 {
    font-size: var(--font-size-18);
    color: var(--basic-thin-color);
}
.RoomItem .infobox p {
    margin-bottom: 13px;
    color: #a09f9f;
    font-size:var(--font-size-14);
}

.RoomItem .infobox a {
    display: inline-block;
    font-size: var(--font-size-13);
    color: #a09f9f;
    border-bottom: solid 2px #a09f9f;
    padding: 0 10px 10px;
}

.MainRoomBox {
    padding-bottom: 120px;
}

.pointbox .textbox {
    background: #f6f6f6;
    padding: 170px;
    height: 100%;
}

.pointbox .imgbox img {
    width:100%;
}

.pointbox .linespan {
    width:95px;
    height: 1px;
    display: inline-block;
    background: #7f7f7f;
}

.pointbox .shottitle {
    display: block;
    font-size:33px;
    color: #333;
    margin-top:35px;
}

.pointbox h2 {
    font-size:98px;
    font-weight: var(--font-weight-bold);
    color: var(--basic-personal-color);
    margin-top:85px;
}

.pointbox h2 span {
    color: #333;
    display: block;
    text-align: right;
    position: relative;
    right:130px;
    top:-30px;
}

.pointbox .title {
    font-size:21px;
    color: #333;
    display: block;
    margin-top: 75px;
}

.pointbox p {
    font-size:var(--font-size-16);
    color: #333;
    margin-top: 35px;
    margin-bottom: 0;
}

.pointbox .morebox {
    margin-top: 75px;
}

.pointbox .morebox img {
    width:91px;
    height: 8px;
    position: relative;
    top:-3px;

}



.pointbox .morebox a {
    background: #333;
    padding: 13px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 250px;
    height: 53px;
}

.pointbox .morebox a:hover img {
    animation: slideRight 1s infinite;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.pointbox .morebox a span {
    color: var(--basic-white-color);
}

.facilitiesbox .imgbox img {
    width:100%;
}

.facilitiesbox .imgbox p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: var(--font-size-18);
    color: var(--basic-thin-color);
}

.MainWrap {
    padding-bottom: 380px;
}

@media (max-width:1199px) {
    .pointbox .textbox {
        padding: 15px;
    }
    .MainWrap {
        padding-bottom: 50px;
    }
    .pointbox h2 span {
        position: unset;
        text-align: center;
    }
    .pointbox h2 {
        font-size:70px;
        text-align: center;
        margin-top:20px;
    }
    .pointbox .morebox {
        text-align: center;
        margin-top:30px;
        margin-bottom: 30px;
    }
    .pointbox .morebox a {
        margin: 0 auto;
    }
    .pointbox .title {
        margin-top:30px;
    }
    .pointbox p {
        margin-top:10px;
    }
    .pointbox p br {
        display: none;
    }
    .pointbox .shottitle {
        margin-top:10px;
        margin-bottom: 40px;
    }
    .facilitiescolbox {

    }
}

@media (max-width:500px) {
    .RoomItem .imgbox img {
        width:100%;
    }

}