@charset "utf-8";


.roompagewrap {
    padding-bottom: 380px;
}

.RoomHeader img {
    width:100%;
}

.RoomHeader {
    position: relative;
}

.RoomHeader h2 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:60px;
    color: var(--basic-white-color);
    letter-spacing: var(--letter-spacing-medium);
    font-weight: 500;
}

.roomheaderinfo {
    margin-top:80px;
}

.roomheaderinfo .imgbox img {
    width:100%;
}

.roomheaderinfo .infobox span {
    color: var(--basic-personal-color);
    font-size:22px;
    font-weight: 400;
}

.roomheaderinfo .infobox h3 {
    font-size:43px;
    font-weight: 400;
    margin-bottom: 0;
}

.roomheaderinfo .infobox .linespan {
    width:90px;
    height: 2px;
    background: #c8c8c8;
    display: inline-block;
}
.roomheaderinfo .infobox strong {
    display: block;
    color: var(--basic-personal-color);
    font-size:26px;
    margin-top: 15px;
}

.roomheaderinfo .infobox ul {
    margin-top: 15px;
    position: relative;
}

.roomheaderinfo .infobox ul li {
    color: #6c6a6d;
    font-size: var(--font-size-16);
    padding-left: 10px;
    line-height: 28px;
}

.roomheaderinfo .infobox ul li:before {
    content:'';
    width:4px;
    height: 4px;
    background: var(--basic-personal-color);
    position: absolute;
    margin-top: 13px;
    margin-left: -10px;
}

.roomheaderinfo .infobox .rebox {
    background: var(--basic-personal-color);
    width:280px;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    padding: 11px 0;
}

.roomheaderinfo .infobox .rebox img {
    width:18px;
    height: 18px;
    margin-right: 10px;
    margin-top:-1px;
}

.roomheaderinfo .infobox .rebox span {
    color: var(--basic-white-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-bold);
}

.roomheaderinfo .infobox .rebox a {
    display: block;
}

.roominfomation {
    margin-top:70px;
}

.roominfomation h4 {
    font-size:38px;
    font-weight: 400;
    margin-bottom: 30px;
}

.roominfomation dl {
    position: relative;
    border-bottom:solid 1px #dcdcdc;
    padding-bottom: 25px;
}

.roominfomation dl dt {
    font-size:var(--font-size-16);
    color:var(--basic-personal-color);
    margin-bottom: 15px;
}

.roominfomation dl dd {
    color: #6c6a6d;
    font-size:var(--font-size-16);
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 28px;
}

.roominfomation dl dd:before {
    width:4px;
    height: 4px;
    content:'';
    position: absolute;
    background: var(--basic-personal-color);
    top:51px;
    left:1px;
}

.roomcomposition {
    margin-top:25px;
}

.roomcomposition .roomtitle {
    font-size:var(--font-size-16);
    color:var(--basic-personal-color);
    margin-bottom: 15px;
    font-weight: var(--font-weight-bold);
    display: block;
}

.roomcomposition .infobox {
    border:solid 1px #c8c8c8;
    padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.roomcomposition .infobox img {
    width:80px;
    height: 80px;
}

.roomcomposition .infobox strong {
    color: #6c6a6d;
    font-size:var(--font-size-16);
}

.roomcomposition .infobox span {
    color: #6c6a6d;
    font-size:var(--font-size-16);
    font-weight: 400;
}

.bottombox {
    margin-top:70px;
}

.bottombox img {
    width:100%;
}


@media (max-width: 1199px) {
    .roomheaderinfo {
        margin-bottom: 60px;
    }
    .roompagewrap {
        padding-bottom: 60px;
    }
    .roomheaderinfo .infobox {
        margin-bottom: 50px;
    }
    .roomheaderinfo .infobox .rebox {
        margin: 0 auto;
    }
    .roomheaderinfo .infobox ul {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 500px) {
    .RoomHeader h2 {
        font-size:30px;
    }
    .roomcomposition .infobox {
        padding: 15px;
        margin-bottom: 30px;
    }
    .roominfomation dl dd br {
        display: none;
    }
}